<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.smttcn.safebox.MyApplication"
        android:allowBackup="false"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="application/enc" />
                <data android:pathPattern=".*\\.enc" />
                <data android:pathPattern=".*\\..*\\.enc" />
                <data android:pathPattern=".*\\..*\\..*\\.enc" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.enc" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.enc" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.enc" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.enc" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.enc" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.enc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.security.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".ui.security.PasswordActivity"
            android:label="@string/title_activity_app_password"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.EncryptingActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.ImportingActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.main.PdfViewActivity" />
        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".ui.debug.DebugconsoleActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.smttcn.safebox.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>